<h1>index</h1>
<table>
    <tr>
        <td>ID</td>
        <td>title</td>
        <td>created_at</td>
        <td>updated_at</td>
        <td>comments count</td>
        <td>options</td>
    </tr>
    <% @issues.each do |item| %>
    <tr>
        <td><%= item.id%></td>
        <td><%= item.title%></td>
        <td><%= item.created_at%></td>
        <td><%= item.updated_at%></td>
        <td><%= item.comments.count%> Comments</td>
        <td>
            <a href=<%= issue_path(item)%>>to item</a>
            <!--<a href=<%= "/issues/#{item.id}"%>>to item</a>-->
        </td>
    </tr>
    <% end %>
</table>
