<h1>Show</h1>

<p style="color:#999;"><%= @issue.inspect %></p>
<h1> <%= @issue.title %></h1>
<p> <%= @issue.created_at %></p>

<hr>

<%= render partial: 'shared/comment_list', locals: {comments:@comments} %>
<%= render partial: 'shared/comment_box', locals: {issue:@issue} %>